<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options -Indexes
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>

<IfModule mod_env.c>
    SetEnv CI_ENV development
</IfModule>

#SetEnv TZ America/Mexico_City